app:
  name: app

image:
  repository: nginx
  tag: latest
  pullPolicy: IfNotPresent

service:
  port: 80
  containerPort: 80

ingress:
  enabled: true
  className: traefik
  host: app.local
  extraHosts: []

  tls:
    enabled: false
    secretName: ""

resources:
  requests:
    cpu: 50m
    memory: 64Mi

  limits:
    cpu: 200m
    memory: 128Mi
